<nav class="bg-white shadow hotwire-native:hidden">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center justify-between py-4 sm:h-16 sm:flex-row">
      <div class="flex items-center">
        <%= link_to "Quick Build", root_path, class: "text-xl font-semibold text-indigo-600" %>
      </div>
      <div class="mt-4 flex flex-col items-center space-y-2 sm:mt-0 sm:flex-row sm:space-y-0 sm:space-x-4">
        <% if helpers.authenticated? %>
          <%= button_to "Cerrar sesión", destroy_session_path, method: :delete, class: 'text-gray-700 hover:text-indigo-600' %>
        <% else %>
          <%= link_to "Iniciar sesión", new_session_path %>
        <% end %>
        <% if helpers.constructor? %>
          <%= link_to 'Proyectos', constructors_projects_path, class: 'text-gray-700 hover:text-indigo-600' %>
        <% end %>
        <%= render 'carts/cart' if helpers.buyer? %>
      </div>
    </div>
  </div>
</nav>
