<a href="<%= href %>" class="block">
  <img alt="<%= image_alt %>" src="<%= image_url %>" class="h-64 w-full object-cover sm:h-80 lg:h-96">

  <h3 class="mt-4 text-lg font-bold text-gray-900 sm:text-xl"><%= title %></h3>

  <p class="mt-2 max-w-sm text-gray-700">
    <%= description %>
  </p>
</a>
