<%= form_with url: form_action,
              method: method,
              local: true,
              html: {
                class: "rounded-3xl border-slate-200 py-5",
                data: { controller: "search-submit", "search-submit-delay-value": debounce, turbo_frame: turbo_frame }.compact
              } do %>

  <% hidden_params.each do |key, val| %>
    <%= hidden_field_tag key, val %>
  <% end %>

  <div class="flex flex-col lg:flex-row lg:items-end lg:justify-between gap-4">

    <!-- Search field -->
    <div class="flex-1">
      <div class="relative mt-2">
        <span class="absolute inset-y-0 left-3 flex items-center text-slate-400">
          <i class="ph ph-magnifying-glass text-lg"></i>
        </span>

        <%= text_field_tag query_param, query_value,
          placeholder: placeholder_text,
          id: "search-panel-#{query_param}",
          class: "w-full border border-slate-300 rounded-xl py-2.5 pl-10 pr-3 text-sm bg-white focus:ring-indigo-200 focus:border-indigo-400 shadow-sm",
          name: query_param,
          autocomplete: "off",
          data: { action: "input->search-submit#submit" }
        %>
      </div>
    </div>

    <% if date_range_enabled? %>
      <!-- Date fields -->
      <div class="flex gap-3 lg:w-80">

        <%= date_field_tag from_param, from_value,
          id: "search-panel-#{from_param}",
          class: "w-full rounded-lg border border-slate-300 bg-white px-3 py-2 text-sm text-slate-700 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-200",
          name: from_param,
          data: { action: "change->search-submit#submit" },
          placeholder: from_label.presence || "Desde"
        %>

        <%= date_field_tag to_param, to_value,
          id: "search-panel-#{to_param}",
          class: "w-full rounded-lg border border-slate-300 bg-white px-3 py-2 text-sm text-slate-700 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-200",
          name: to_param,
          data: { action: "change->search-submit#submit" },
          placeholder: to_label.presence || "Hasta"
        %>

      </div>
    <% end %>

    <!-- Visible submit button on desktop -->
    <%= render Ui::ButtonComponent.new(label: 'Buscar', type: :submit) %>
    <%# <button type="submit"
      class="hidden lg:inline-flex items-center gap-2 rounded-xl bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-indigo-700 transition">
      <i class="ph ph-magnifying-glass"></i> Buscar
    </button> %>
  </div>

  <%= submit_tag "Buscar", class: "hidden" %> <!-- Hidden submit for keyboard Enter -->
<% end %>
