<%= form_with model: [:constructors, @project], class: 'space-y-4', data: {turbo_frame: "_top"} do |f| %>
  <div>
    <%= f.label :name, class: 'block text-sm font-medium' %>
    <%= f.text_field :name, class: 'mt-1 block w-full border rounded' %>
  </div>
  <div>
    <%= f.label :location, class: 'block text-sm font-medium' %>
    <%= f.text_field :location, class: 'mt-1 block w-full border rounded' %>
  </div>

  <!-- Contenedor del mapa -->
  <div id="project-map"
     data-controller="project-map"
     data-project-map-target="map"
     style="height: 400px; border: 1px solid #ccc;">
    <!-- Campos ocultos para guardar coordenadas -->
    <%= f.hidden_field :latitude, data: { project_map_target: "latitude" } %>
    <%= f.hidden_field :longitude, data: { project_map_target: "longitude" } %>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div>
      <%= f.label :start_date, class: 'block text-sm font-medium' %>
      <%= f.date_field :start_date, class: 'mt-1 block w-full border rounded' %>
    </div>
    <div>
      <%= f.label :end_date, class: 'block text-sm font-medium' %>
      <%= f.date_field :end_date, class: 'mt-1 block w-full border rounded' %>
    </div>
  </div>
  <div>
    <%= f.label :status, class: 'block text-sm font-medium' %>
    <%= f.select :status, Project.statuses.keys.map { |s| [s.humanize, s] }, {}, class: 'mt-1 block w-full border rounded' %>
  </div>
  <div>
    <%= f.label :images, "Imágenes del producto", class: 'block text-sm font-medium text-gray-700' %>
    <%= f.file_field :images, multiple: true,direct_upload: true, class: 'mt-1' %>
  </div>
  <div>
    <%= render Ui::ButtonComponent.new(
          label: @project.persisted? ? "Update Project" : "Create Project",
          type: :submit
        ) %>
  </div>
<% end %>
