<div class="space-y-8 pb-12">
  <%= render Constructors::Projects::SectionsNavComponent.new(project: @project, current_section: :overview) %>
  <%= render Constructors::Projects::ProjectHeaderComponent.new(project: @project) %>
  <%#= render Constructors::Projects::ProjectMetricsComponent.new(project: @project) %>
  <section class="grid gap-6 lg:grid-cols-3">
    <div class="space-y-6 lg:col-span-2">
      <%= render Constructors::Projects::PlanningSummaryComponent.new(project: @project) %>
      <div class="flex gap-4">
        <%= render Constructors::Projects::ImagesPanelComponent.new(project: @project) %>
        <%= render Constructors::Projects::DocumentsPanelComponent.new(project: @project) %>
      </div>
    </div>

    <div class="space-y-6">
      <%= render Constructors::Projects::TeamPanelComponent.new(project: @project, membership: @membership) %>
      <%= render Constructors::Projects::ActivityPanelComponent.new(activity_entries: @activity_entries) %>
    </div>
  </section>
</div>
