<div class="mx-auto max-w-md rounded bg-white p-6 shadow">
  <p class="mb-2"><span class="font-semibold">Name:</span> <%= @product.name %></p>
  <p class="mb-2"><span class="font-semibold">Price:</span> <%= number_to_currency(@product.price_cents / 100.0) %></p>
  <p class="mb-2"><span class="font-semibold">Category:</span> <%= @product.category.name if @product.category %></p>
  <p class="mb-4"><span class="font-semibold">Description:</span> <%= @product.description %></p>
  <div class="flex space-x-4">
    <%= link_to 'Edit', edit_product_path(@product), class: 'text-indigo-600 hover:underline' %>
    <%= link_to 'Back', products_path, class: 'text-gray-600 hover:underline' %>
  </div>
</div>
