<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Quick Build" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render "layouts/ui_kit_head" %>
    <%= stylesheet_link_tag "https://unpkg.com/leaflet/dist/leaflet.css" %>
  </head>

  <body <%= "data-hotwire-native" if hotwire_native_app? %> class="min-h-screen bg-blue-50 text-gray-900 overflow-x-hidden">
    <%= render Layout::NavbarComponent.new(role: :constructor) %>
    <main class="w-full max-w-7xl mx-auto mt-6 px-4 sm:px-6 lg:px-8 overflow-x-hidden">
      <% if notice %>
        <p class="mb-4 rounded bg-green-100 p-4 text-green-800"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="mb-4 rounded bg-red-100 p-4 text-red-800"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
